{extends "../@layout.latte"}
{block title}{_post}{/block}

{block content}

{var $menuItems = [
    [
        'url' => "/wall" . $post->getTargetWall() . "?type=owners",
        'title' => $post->getTargetWall() < 0 ? "clubs_posts" : tr("users_posts", ovk_proc_strtr($wallOwner->getFirstName(), 20)),
        'translate' => $post->getTargetWall() < 0 ? true : false,
        'active' => false
    ],
    [
        'url' => "/wall" . $post->getTargetWall(),
        'title' => 'all_posts',
        'active' => false
    ],
    [
        'url' => "/notes" . $post->getTargetWall(),
        'title' => 'notes',
        'active' => false,
        'condition' => $wallOwner instanceof \openvk\Web\Models\Entities\User
    ],
    [
        'url' => "javascript:void(0)",
        'title' => 'post',
        'active' => true
    ]
]}
    <div class="wide_column_left">
        <div class="narrow_column_wrap">
            <div class="narrow_column">
                {include "../components/ui_rmenu.latte", items => $menuItems}
            </div>
        </div>
        <div class="wide_column_wrap">
            <div class="wide_column post_view_page {if $cCount > 0}with_comments{/if}">
                {include "../components/post.latte", post => $post, forceNoCommentsLink => TRUE, scrollNode => false}
                {include "../components/comments.latte",
                comments => $comments,
                count => $cCount,
                page => $cPage,
                model => "posts",
                parent => $post }
            </div>
        </div>
    </div>
{/block}