.form_group {
    margin: 0 20px;
}

.form_field {
    margin-left: auto;
    margin-right: auto;
    width: 465px;
    min-height: 27px;
    display: flex;
}
.wide_column_wrap .form_field {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.form_field:not(:last-child) {
    margin-bottom: 10px;
}

.form_label {
    color: var(--muted-text-color-2);
    width: 145px;
    padding: 5px 0 0;
    line-height: 18px;
}

.form_data {
    margin: 0 0 0 15px;
    flex: 1;
    line-height: 28px;
}
.form_field:last-child .form_data {
    margin-bottom: 0;
}

.form_field .form_label {
    display: inline;
}

.form_separator {
	margin: 12px 0 15px;
	background: var(--border-color);
	height: 1px;
}


.settings_block_msg {
    padding: 13px 20px 15px;
    border-bottom: 1px solid var(--border-color);
    line-height: 150%;
}

.page_block_footer {
    border-top: 1px solid var(--border-color);
    background: var(--module-header-background-color);
    line-height: 140%;
    padding: 15px 0 17px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    text-align: center;
}

.form_field input:not([type="submit"], [type="checkbox"], [type="radio"], [type="button"]),.form_field:not(.settings_privacy_row) select,.form_field textarea {
    width: 300px;
}

.form_field label.checkbox,
.form_field label.radio {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

label.checkbox .nobold {
    display: block;
    margin-top: 5px;
    line-height: 1.4;
}

.form_field #filename:not(:empty) {
    margin-top: 10px;
}

.form_field .button {
	padding: 7px 16px 8px;
	line-height: 14px;
}

/* privacy */
.form_field.settings_privacy_row {
    border-bottom: solid var(--border-color);
    border-width: 1px 0;
    padding: 14px 0 15px;
    margin: -1px 0 0;
}

.settings_privacy_row:first-child {
    border-top: none;
    padding-top: 0;
}

.settings_privacy_row:last-child {
    border-bottom: none
}




.settings_privacy_row--no-bottom-border {
    border-bottom-width: 0
}

.settings_privacy_row .form_label {
    width: 245px;
    text-align: left;
}


.settings_save_footer {
    text-align: center;
    margin-top: 20px;
}

.form_field .accent-box {
    margin: 0 auto;
}

/* payments */

.settings_padding {
    padding-block: 20px
}

.voucher_form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.voucher_form .settings_voucher_input {
    margin-right: 10px;
}

.delete_reason_list {
    margin: 10px 0;
}

/* edit page */
.label_end .form_label {
    text-align:end;
}

.game_edit {
    width: fit-content;
    margin: 0 auto;
}

/* vertical */
.form_group.vertical {
    width: fit-content;
    margin-inline: auto;
}
.form_group.vertical .form_field,.form_field.vertical {
    flex-direction: column;
    width: 100%;
}
.vertical .form_label {
	width: 100%;
	padding: 0 0 6px;
	color: var(--muted-text-color-2);
	font-weight: 500;
}
.vertical .form_data {
    line-height: 18px;
    margin-left: 0;
}

.form_field:not(:has(.form_label)) .form_data {
    margin: 0;
}
.form_field:not(:has(.form_label)) .form_data *:not([type="submit"], [type="checkbox"], [type="radio"]) {
    width: 100%;
}


.outline_table {
    border-color: var(--border-color)
}

.form_data.flash-error input:not([type="submit"], [type="checkbox"], [type="radio"], [type="button"], [type="file"]),
.form_data.flash-error select,
.form_data.flash-error textarea {
    animation: formInputFlashError 1s ease-in-out 3;
}

@keyframes formInputFlashError {
    0% {
        background-color: transparent;
        border-color: var(--border-color);
    }
    50% {
        background-color: var(--message-warning-background);
        border-color: var(--message-warning-border);
    }
    100% {
        background-color: transparent;
        border-color: var(--border-color);
    }
}
.page_block .knowledgebase_block {
    padding: 0!important;
    margin: 0!important;
    box-shadow: none;
    background: none;
}
.page_block .knowledgebase_block .page_block_h2 {
    display: none;
}
.page_block .knowledgebase_block .page_padding {
    padding: 0!important;
}