<div n:if='\OPENVK_ROOT_CONF["openvk"]["preferences"]["siteAlert"]["enable"]' class="bottom-popup red-popup global-alert-popup" style="display: none">
    <div class="contanier">
        <div class="text" id="global-alert-text">{php echo OPENVK_ROOT_CONF["openvk"]["preferences"]["siteAlert"]["text"]}</div>
        <div class="buttons" n:if='\OPENVK_ROOT_CONF["openvk"]["preferences"]["siteAlert"]["canBeDismissed"]'>
            <div class="bottom-popup__close" onclick="dismissGlobalAlert()">
                <svg width="24" height="24" fill="currentColor" viewBox="0 0 24 24"><use href="#cancel-24"></use></svg>
            </div>
        </div>
    </div>
</div>

<script>
    (function() {
        let alertTextEl = document.getElementById("global-alert-text");
        if(!alertTextEl) return;

        let cookie = document.cookie.split(";");
        let alertContent = encodeURI("\n" + alertTextEl.textContent + "    \n");
        let alertDismissed = false;
        for(let i = 0; i < cookie.length; i++) {
            let c = cookie[i].trim();
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if(c == "alertDismissed=" + alertContent) {
                alertDismissed = true;
                break;
            }
        }
        if(!alertDismissed) {
            u(".global-alert-popup").nodes[0].style.display = "block";
        }

        window.dismissGlobalAlert = function() {
            let expires = (new Date(Date.now() + 40000000000)).toUTCString();
            
            document.cookie = "alertDismissed=" + alertContent + ";expires=" + expires + ";SameSite=Strict";
            u(".global-alert-popup").nodes[0].style.display = "none";
        }
    })();
</script>