{var $httpWarnDismissed = ($_COOKIE['vkify_popup_shown_http_warn'] ?? '0') === '1'}

<div n:if="!$httpWarnDismissed" class="bottom-popup red-popup http-warning-popup" style="display: none;">
    <div class="contanier">
        <div class="text" id="http-warning-text">
            {if str_contains($_SERVER['HTTP_HOST'] ?? '', 'openvk.xyz')}
                <vkifyloc name="httpwarnovk" args="openvk.org" />
            {else}
                <vkifyloc name="httpwarn" />
            {/if}
        </div>
        <div class="buttons">
            <div class="bottom-popup__close" onclick="dismissHttpWarning()">
                <svg width="24" height="24" fill="currentColor" viewBox="0 0 24 24"><use href="#cancel-24"></use></svg>
            </div>
        </div>
    </div>
</div>
