<div n:if="isset($userTainted) && $userTainted" class="bottom-popup red-popup">
    <div class="contanier">
        <div class="text">
            <b>{_you_entered_as} {$thisUser->getCanonicalName()}</b>.
            {_please_rights|firstUpper}<br>{_click_on} <a href="/setSID/unset?hash={rawurlencode($csrfToken)}">{_there}</a> {_to_leave}.
        </div>
    </div>
</div>
