{extends "../@layout.latte"}
{block title}{_menu_help}{/block}

{block content}
    {var $isMain = $mode === 'faq'}
    {var $isNew  = $mode === 'new'}
    {var $isList = $mode === 'list'}

    {if $thisUser}
        <div class="page_block wall_posts_tabs">
            {include "../components/page_block_header.latte", title: "menu_help"}
            {include "../components/page_tabs_header.latte", tabs => [
                [
                    'url' => '/support',
                    'title' => 'support_faq',
                    'active' => $isMain,
                    'id' => 'support_tab_faq'
                ],
                [
                    'url' => '/support?act=list',
                    'title' => 'support_list',
                    'active' => $isList,
                    'id' => 'support_tab_list'
                ],
                [
                    'url' => '/support?act=new',
                    'title' => 'support_new',
                    'active' => $isNew,
                    'id' => 'support_tab_new'
                ]
            ], white => true}
        </div>
            {if $isNew}
                    {if !is_null($banReason)}
                        <div class="page_block status_container">
                            <div class="status_header">
                                {_banned_header}
                            </div>
                            <div class="status_content">
                                {tr("banned_in_support_1", htmlentities($thisUser->getCanonicalName()))|noescape}<br/>
                                {tr("banned_in_support_2", htmlentities($banReason))|noescape}
                            </div>
                        </div>
                    {else}
                        <div class="page_block page_padding">
                            <div class="new">
                                <div class="form_group tickets_create_form">
                                    <form action="/support" method="post" style="margin:0;">
                                        <div class="form_field">
                                            <div class="form_data">
                                                <input type="text" name="name" style="resize: vertical;" placeholder="{_support_new_title}" />
                                            </div>
                                        </div>
                                        <div class="form_field">
                                            <div class="form_data">
                                                <textarea name="text" style="resize: vertical;" placeholder="{_support_new_content}"></textarea>
                                            </div>
                                        </div>
                                        <div class="form_field">
                                            <div class="form_data">
                                                <input type="hidden" name="hash" value="{$csrfToken}" />
                                                <input type="submit" value="{_write}" class="button fl_r" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {/if}
            {/if}
    {/if}
    <div n:ifcontent n:class="page_block, $isList ? 'list_view tickets_list' : page_padding">
    {if $isMain}
        <div n:foreach="$faq as $section" class="faq">
            <div id="faqhead">{$section[0]}</div>
            <div id="faqcontent">{$section[1]|noescape}</div>
        </div>
    {/if}

    {if $isList}
        {foreach $tickets as $ticket}
            <div class="search_row type{$ticket->getType()}">
                <div class="info fl_l">
                    <div class="labeled name">
                        <a href="/support/view/{$ticket->getId()}">
                            <b>
                                {$ticket->getName()}
                            </b>
                        </a>
                    </div>
                    <div class="labeled">
                        {$ticket->getStatus()}
                    </div>
                </div>
            </div>
        {/foreach}

        {if $count < 1}
            {include "../components/nothing.latte"}
        {/if}

            {include "../components/paginator.latte", conf => (object) [
                "page"     => $page,
                "count"    => $count,
                "amount"   => sizeof($tickets),
                "perPage"  => \OPENVK_DEFAULT_PER_PAGE,
                "atBottom" => true,
                "tidy"     => true
            ]}
    {/if}
    </div>
{/block}
