{extends "../@layout.latte"}

{block title}{$heading}{/block}

{block content}
	{if !isset($embedded)}
		<div class="page_block knowledgebase_block">
			{include "../components/page_block_header.latte", title: $heading, translate: false}
			<div class="page_padding">
				<div class="knowledgeBaseArticle">
					{$content|noescape}
				</div>
			</div>
		</div>
	{else}
		<div class="knowledgeBaseArticle">
			{$content|noescape}
		</div>
	{/if}
{/block}
