{extends "../@layout.latte"}
{var $transparentAppbar = true}
{block title}{$user->getCanonicalName()}{/block}

{block appbar_extra}
{ifset $thisUser}
<div class="mobileonly" id="profile_appbar_extra">
    <button class="appbar-extra-btn" id="profileAppbarMoreBtn" aria-label="More actions">
        <svg viewBox="0 0 12 24" width="22" height="22" fill="currentColor"><use href="#more-vertical-24"></use></svg>
    </button>
</div>
{/ifset}
{/block}

{define mobileProfile}
    {include '../components/mobile_profile_hero.latte', entity => $user, name => $user->getFullName(), status => tr('profile_deactivated_status'), verified => $user->isVerified(), disablePhotoViewer => true}
    <div class="page_block mobile-actions-info-block mobileonly" n:ifcontent>
        {include '../components/mobile_profile_actions.latte'}
    </div>
    <div class="page_block page_padding mobile-page-info mobileonly">
        <div class="profile_deleted_text">
            {_profile_deactivated_info|noescape}
        </div>
    </div>
{/define}

{block content}
    {include #mobileProfile}

    <div class="wide_column_right nomobile">
        <div class="narrow_column_wrap">
            <div class="narrow_column">
                <div class="page_block photo_block">
                    <div class="avatar_block">
                        <div class="avatar_block_inner">
                            {include '../components/avatar.latte', author => $user, size => 'normal', id => 'bigAvatar', width => ($avatarNormal ? $avatarNormal->width : 200), height => ($avatarNormal ? $avatarNormal->height : 200), alt => $user->getCanonicalName(), style => 'width: 100%; image-rendering: -webkit-optimize-contrast', class => ''}
                        </div>
                    </div>
					{include '../components/profile_actions.latte'}
                </div>
            </div>
        </div>
        <div class="wide_column_wrap">
            <div class="wide_column">
                <div class="page_block page_info_wrap info_block">
                    <div class="accountInfo clearFix">
                        <div class="page_top">
                            <h2 class="page_name">{$user->getFullName()}
                                <a class="page_verified" n:if="$user->isVerified()" href="/verify"></a>
                            </h2>
                            <div class="page_status profile_deleted">{_profile_deactivated_status}</div>
                        </div>
                    </div>
                    <div class="profile_deleted_text">
                        {_profile_deactivated_info|noescape}
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}
