{extends "../@layout.latte"}
{block title}{_verify_phone_number}{/block}
{block content}
    <div class="page_block">
        {include "../components/page_block_header.latte" title => 'verify_phone_number'}
        <div class="settings_block_msg">
            <p>{_we_sended_first} <b>{substr_replace($change->number, "*****", 5, 5)}</b>, {_we_sended_end}:</p>
        </div>
        <div class="page_padding">
            <form method="POST">
                <input type="text" name="code" placeholder="34156, например" required />
                <input type="hidden" name="hash" value="{$csrfToken}" />
            </form>
        </div>
    </div>
{/block}
