{extends "../@listView.latte"}

{block title}
    {_poll_voters_list}
{/block}

{block size}
    {include "../components/page_crumb_header.latte", crumbs => [
        ['href' => "/poll{$pollId}", 'title' => tr('poll')],
        ['title' => $option[1], 'count' => $count]
    ]}
{/block}

{block tabs}
    {var $tabs = []}
    {foreach $options as $optionId => $optionName}
        {var $tabs[] = [
            'url' => '/poll' . $pollId . '/voters?option=' . base_convert(''.$optionId, 10, 32),
            'title' => $optionName,
            'active' => $optionId == $option[0],
            'translate' => false,
        ]}
    {/foreach}
    {include "../components/page_tabs_header.latte", tabs => $tabs, white => true}
{/block}

{* BEGIN ELEMENTS DESCRIPTION *}

{block link|strip|stripHtml}
    {$x->getURL()}
{/block}

{block preview}
    {include '../components/avatar.latte', author => $x, size => 'miniscule', width => 75, alt => tr('photo'), loading => 'lazy'}
{/block}

{block name}
    {$x->getCanonicalName()}
    <a n:if="$x->isVerified()" href="/verify" class="page_verified"></a>
{/block}

{block description}
{/block}

{block actions}
{/block}