{extends "../@layout.latte"}

{block title}
    {_global_maintenance}
{/block}

{block content}
    <div class="page_block">
        {include "../components/page_block_header.latte", title: "global_maintenance"}
        {include "../components/content_error.latte" description: tr("undergoing_global_maintenance")|noescape}
    </div>
{/block}
