{extends "../@layout.latte"}

{block title}
    {_section_maintenance}
{/block}

{block content}
    <div class="page_block">
        {include "../components/page_block_header.latte", title: "section_maintenance"}
        {include "../components/content_error.latte" description: tr("undergoing_section_maintenance", $name)|noescape}
    </div>
{/block}
