{extends "../@layout.latte"}
{block title}Sandbox{/block}

{block content}
    <div class="page_block">
        {include "../components/page_block_header.latte" title: "sandbox_for_developers"}
        <div class="page_padding">
            fat penis gock
        </div>
    </div>
{/block}
