{extends "../@layout.latte"}

{block title}
    {_access_recovery}
{/block}

{block content}
    <div class="page_block">
        {include "../components/page_block_header.latte" title: "page_access_recovery"}
        <div class="settings_block_msg">
            {_access_recovery_info}
        </div>

        <div class="form_group clear_fix label_end settings_padding">
            <form method="POST" enctype="multipart/form-data">
                <div class="form_field">
                    <div class="form_label">{_email}</div>
                    <div class="form_data">
                        <input class="text long-field" id="login" type="text" name="login" required />
                    </div>
                </div>
                <div class="form_field">
                    <div class="form_label"></div>
                    <div class="form_data">
                        <input type="hidden" name="hash" value="{$csrfToken}" />
                        <input type="submit" value="{_reset_password}" class="button" />
                    </div>
                </div>
            </form>
        </div>
    </div>
{/block}
