{extends "../@layout.latte"}

{var $isMy = $isMy ?? false}
{var $audioHeaderCount = $mode == 'playlists' ? ($playlistsCount ?? 0) : ($audiosCount ?? 0)}
{var $audioSearchSection = $mode == 'playlists' ? 'audios_playlists' : 'audios'}
{var $pageTitle = tr('my_music')}

{if $mode == 'playlists'}
    {if $isMy}
        {var $pageTitle = tr('my_playlists')}
    {elseif $ownerId > 0}
        {var $pageTitle = tr('playlists') . ' ' . $owner->getMorphedName('genitive', false, false)}
    {else}
        {var $pageTitle = tr('playlists_club')}
    {/if}
{elseif $mode == 'uploaded'}
    {var $pageTitle = tr('my_audios_small_uploaded')}
{elseif $mode == 'new'}
    {var $pageTitle = tr('audio_new')}
{elseif $mode == 'popular'}
    {var $pageTitle = tr('audio_popular')}
{elseif $mode == 'alone_audio'}
    {var $pageTitle = $alone_audio->getName()}
{elseif $isMy}
    {var $pageTitle = tr('my_music')}
{elseif $ownerId > 0}
    {var $pageTitle = tr('audios') . ' ' . $owner->getMorphedName('genitive', false, false)}
{else}
    {var $pageTitle = tr('music_club')}
{/if}

{block title}{$pageTitle}{/block}

{block content}
    {var $isMyClub = $isMyClub ?? false}
    {var $club = $club ?? null}
    {var $friendsAudios = $friendsAudios ?? []}
    {* ref: https://archive.li/P32em *}

    <script>
        window.__current_page_audio_context = null
        {if $mode == 'list'}
            window.__current_page_audio_context = {
                name: 'entity_audios',
                entity_id: {$ownerId},
                page: {$page}
            }
        {elseif $mode == 'uploaded'}
            window.__current_page_audio_context = {
                name: 'uploaded',
                entity_id: 0,
                page: {$page}
            }
        {elseif $mode == 'alone_audio'}
            window.__current_page_audio_context = {
                name: 'alone_audio',
                entity_id: {$alone_audio->getId()},
                page: 1
            }
        {/if}
    </script>

    <div class="wide_column_left">
        <div class="narrow_column_wrap">
            <div class="narrow_column">

                {include "tabs.latte"}

            </div>
        </div>
        <div class="wide_column_wrap">
            <div class="wide_column">
                <div class="page_block">
                    {include "bigplayer.latte", buttonsShow_summary => ($audiosCount ?? 0) > 10}
                </div>
                
                <div class="page_block">
                    {if !$isMy && $mode != 'new' && $mode != 'popular' && $mode != 'alone_audio' && $mode != 'uploaded'}
                        {var $crumbs = [
                            ['title' => $ownerId > 0 ? $owner->getCanonicalName() : $club->getName(), 'href' => $ownerId > 0 ? $owner->getURL() : $club->getURL()],
                            ['title' => $mode == 'playlists' ? tr('playlists') : tr('audios'), 'count' => $audioHeaderCount]
                        ]}
                        {include "../components/page_crumb_header.latte", crumbs => $crumbs}
                    {else}
                        {include "../components/page_block_header.latte", title => $pageTitle, count => $audioHeaderCount, translate => false}
                    {/if}
                    {include "../components/search_bar.latte",
                        id => 'audios_search_header',
                        form_class => 'search_page_form',
                        placeholder => tr('header_search'),
                        action => '/search',
                        section => $audioSearchSection,
                        input_name => 'q',
                        input_title => tr('header_search'),
                        input_maxlength => '59',
                        autocomplete => 'off',
                        class => 'audios_search_header'
                    }
                    <div class="audiosDiv" n:if="$mode != 'playlists'">
                        <div class="audiosContainer audiosSideContainer">
                            {if ($audiosCount ?? 0) <= 0}
                                {include "../components/content_error.latte", icon => "no_music.svg", description => $ownerId > 0 ? ($ownerId == $thisUser->getId() ? tr("no_audios_thisuser") : tr("no_audios_user")) : tr("no_audios_club")}
                            {/if}
                            <div n:if="($audiosCount ?? 0) > 0" class="scroll_container">
                                <div class="scroll_node" n:foreach="($audios ?? []) as $audio">
                                    {include "player.latte", audio => $audio, club => $club}
                                </div>
                            </div>

                            <div n:if="$mode != 'new' && $mode != 'popular'">
                                {include "../components/paginator.latte", conf => (object) [
                                    "page"     => $page,
                                    "count"    => $audiosCount ?? 0,
                                    "amount"   => sizeof($audios ?? []),
                                    "perPage"  => $perPage ?? \OPENVK_DEFAULT_PER_PAGE,
                                    "atBottom" => true,
                                    "tidy"     => true,
                                ]}
                            </div>
                        </div>
                    </div>
                    
                    {if $mode == 'playlists'}
                        <div n:if="$playlistsCount <= 0" style='height: 100%;'>
                            {include "../components/content_error.latte", icon => "no_music.svg", description => $ownerId > 0 ? ($ownerId == $thisUser->getId() ? tr("no_playlists_thisuser") : tr("no_playlists_user")) : tr("no_playlists_club")}
                        </div>

                        <div class="list_view scroll_container playlistContainer" n:if="$playlistsCount > 0">
                            {foreach $playlists as $playlist}
                                {include 'playlistListView.latte', playlist => $playlist}
                            {/foreach}
                        </div>

                        <div>
                            {include "../components/paginator.latte", conf => (object) [
                                "page"     => $page,
                                "count"    => $playlistsCount,
                                "amount"   => sizeof($playlists),
                                "perPage"  => $perPage ?? \OPENVK_DEFAULT_PER_PAGE,
                                "atBottom" => true,
                                "tidy"     => true,
                            ]}
                        </div>
                    {/if}
                </div>
            </div>
        </div>
    </div>
{/block}
