{extends "../@layout.latte"}
{block title}{_creating_album}{/block}

{block content}
<div class="page_block">
    {if isset($club)}
        {var $clubId = $club->getId()}
        {include "../components/page_crumb_header.latte", crumbs => [
            ['href' => $club->getURL(), 'title' => $club->getCanonicalName()],
            ['href' => "/albums-{$clubId}", 'title' => tr("albums")],
            ['title' => tr("creating_album")]
        ]}
    {else}
        {include "../components/page_crumb_header.latte", crumbs => [
            ['href' => $thisUser->getURL(), 'title' => $thisUser->getCanonicalName()],
            ['href' => "/albums{$thisUser->getId()}", 'title' => tr("albums")],
            ['title' => tr("creating_album")]
        ]}
    {/if}
    <div class="form_group page_padding label_end">
        <form method="post" enctype="multipart/form-data">
            <div class="form_field">
                <div class="form_label">{_name}</div>
                <div class="form_data">
                    <input type="text" name="name" />
                </div>
            </div>
            <div class="form_field">
                <div class="form_label">{_description}</div>
                <div class="form_data">
                    <textarea name="desc"></textarea>
                </div>
            </div>
            <div class="settings_save_footer">
                <input type="hidden" name="hash" value="{$csrfToken}" />
                <input type="submit" class="button" name="submit" value="{_create}" />
            </div>
        </form>
    </div>
</div>
{/block}
