{extends "../@layout.latte"}

{block title}{_delete_photo}{/block}

{block content}
    <div class="page_block">
        {include "../components/page_block_header.latte", title => 'delete_photo'}
        <div class="page_padding" style="text-align: center; padding: 100px 0!important;">
            <h2 style="margin: 0 0 20px;">{_sure_deleting_photo}</h2>
            <form class="buttons_row" method="POST">
                <input type="hidden" value="{$csrfToken}" name="hash" />
                <a href="{$_SERVER['HTTP_REFERER']}" class="button button_gray">{_no}</a>
                <button class="button">{_yes}</button>
            </form>
        </div>
    </div>
{/block}
