{extends "../@layout.latte"}
{block title}{$manager->getUser()->getFullName()}{/block}

{block content}
    <div class="page_block">
        {include "../components/page_crumb_header.latte", crumbs: [
            ['href' => '/club' . $club->getId(), 'title' => $club->getName()],
            ['href' => '/club' . $club->getId() . '/edit', 'title' => tr('edit_group')],
            ['href' => null, 'title' => $manager->getUser()->getFullName()]
        ]}
        <div class="page_padding">
            <form method="POST" enctype="multipart/form-data" action="/club{$club->getId()}/setAdmin">
                <div class="form_group label_end">
                    <div class="form_field">
                        <div class="form_label">{_comment}:</div>
                        <div class="form_data">
                            <input type="text" name="comment" value="{$manager->getComment()}" />
                        </div>
                    </div>
                    <div class="form_field">
                        <div class="form_label"></div>
                        <div class="form_data">
                            <input type="hidden" name="user" value="{$manager->getUser()->getId()}">
                            <input type="hidden" name="hash" value="{$csrfToken}" />
                            <input type="submit" value="{_save}" class="button" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{/block}
