{extends "../@listView.latte"}
{var $Manager = openvk\Web\Models\Entities\Manager::class}
{var $iterator = $onlyShowManagers ? $managers : $followers}
{var $count    = $paginatorConf->count}
{var $page     = $paginatorConf->page}
{var $perPage  = 6}

{block title}{_followers} {$club->getCanonicalName()}{/block}

{block tabs}
    {capture $extraContent}
        <a n:if="!$onlyShowManagers" class="button" href="/club{$club->getId()}/followers?onlyAdmins=1">{_only_administrators}</a>
        <a n:if="$onlyShowManagers" class="button" href="/club{$club->getId()}/followers">{_all_followers}</a>
    {/capture}
    {include "../components/page_block_header.latte", title => "followers", extra => $extraContent}
{/block}

{* BEGIN ELEMENTS DESCRIPTION *}

{block narrow}
    {var $menuItems = [
        [
            'url' => "/club{$club->getId()}/edit",
            'title' => 'main',
            'active' => false,
            'condition' => $club->canBeModifiedBy($thisUser)
        ],
        [
            'url' => "/club{$club->getId()}/backdrop",
            'title' => 'backdrop_short',
            'active' => false,
            'condition' => $club->canBeModifiedBy($thisUser)
        ],
        [
            'url' => "/club{$club->getId()}/followers",
            'title' => 'followers',
            'active' => true,
            'condition' => $club->canBeModifiedBy($thisUser)
        ],
        [
            'url' => "/club{$club->getId()}/stats",
            'title' => 'statistics',
            'active' => false,
            'condition' => $club->canBeModifiedBy($thisUser)
        ]
    ]}
    {include "../components/ui_rmenu.latte", items => $menuItems, ownblockData => $club}
{/block}

{block link|strip|stripHtml}
    /id{$x instanceof $Manager ? $x->getUserId() : $x->getId()}
{/block}

{block preview}
    {var $avaAuthor = $x instanceof $Manager ? $x->getUser() : $x}
    {include '../components/avatar.latte', author => $avaAuthor, size => 'miniscule', width => 75, alt => $avaAuthor->getCanonicalName()}
{/block}

{block name}
    <div class="labeled name">{$x instanceof $Manager ? $x->getUser()->getCanonicalName() : $x->getCanonicalName()}</div>
{/block}

{block description}
    {var $user    = $x instanceof $Manager ? $x->getUser() : $x}
    {var $manager = $x instanceof $Manager ? $x : $club->getManager($user, !$club->canBeModifiedBy($thisUser))}
    <div class="labeled">{($club->getOwner()->getId() == $user->getId() ? !$club->isOwnerHidden() || $club->canBeModifiedBy($thisUser) : !is_null($manager)) ? tr("administrator") : tr("follower")}</div>
    <div class="labeled">
        {if $manager && !empty($manager->getComment()) || $club->getOwner()->getId() === $user->getId() && !empty($club->getOwnerComment()) && (!$club->isOwnerHidden() || $club->canBeModifiedBy($thisUser))}
            {if $club->getOwner()->getId() === $user->getId()}{$club->getOwnerComment()}{else}{$manager->getComment()}{/if}
        {/if}
    </div>
    <div class="labeled">                     
        {if $manager && $club->canBeModifiedBy($thisUser)}
            <a href="/club{$club->getId()}/setAdmin?user={$user->getId()}&hidden={(int) !$manager->isHidden()}&hash={rawurlencode($csrfToken)}">
                {if $manager->isHidden()}{_hidden_yes}{else}{_hidden_no}{/if}
            </a>
        {/if}
        
        {if $club->getOwner()->getId() == $user->getId() && $club->canBeModifiedBy($thisUser)}
            <a href="/club{$club->getId()}/setAdmin?user={$user->getId()}&hidden={(int) !$club->isOwnerHidden()}&hash={rawurlencode($csrfToken)}">
                {if $club->isOwnerHidden()}{_hidden_yes}{else}{_hidden_no}{/if}
            </a>
        {/if}
    </div>
{/block}

{block actions}
    {var $user    = $x instanceof $Manager ? $x->getUser() : $x}
    {var $manager = $x instanceof $Manager ? $x : $club->getManager($user, !$club->canBeModifiedBy($thisUser))}
    {if $club->canBeModifiedBy($thisUser ?? NULL)}
        <div class="buttons_row" style="justify-content: end">
            <a class="button profile_link_form" href="/club{$club->getId()}/setAdmin?user={$user->getId()}&hash={rawurlencode($csrfToken)}" n:if="$club->getOwner()->getId() !== $user->getId()">
                {if $manager}
                    {_devote}
                {else}
                    {_promote_to_admin}
                {/if}
            </a>
            {var $hasActions = ($club->getOwner()->getId() != $user->getId() && $manager && $thisUser->getId() == $club->getOwner()->getId()) || $manager || ($club->getOwner()->getId() === $user->getId())}
            {if $hasActions}
                <button class="button button_gray profile_more_btn" data-tippy-placement="bottom-end" data-tippy-content-id="followers_actions_menu_{$x->getId()}">
                    &nbsp;
                </button>
                <div id="followers_actions_menu_{$x->getId()}" class="tippy-menu tippy-content-template">
                    {if $club->getOwner()->getId() != $user->getId() && $manager && $thisUser->getId() == $club->getOwner()->getId()}
                        <a href="javascript:changeOwner({$club->getId()}, {$user->getId()}, '{$user->getCanonicalName()}')">
                            {_promote_to_owner}
                        </a>
                    {/if}
                    {if $manager}
                        <a href="javascript:setClubAdminComment('{$club->getId()}', '{$manager->getUserId()}', '{rawurlencode($csrfToken)}')">{_set_comment}</a>
                    {/if}
                    <a n:if="$club->getOwner()->getId() === $user->getId()" href="javascript:setClubAdminComment('{$club->getId()}', '{$club->getOwner()->getId()}', '{rawurlencode($csrfToken)}')">{_set_comment}</a>
                </div>
            {/if}
        </div>
    {/if}
{/block}