{extends "@layout.latte"}
{block title}{_banned_title}{/block}

{block content}
<div class="page_block status_container">
    <div class="status_header">
        {_banned_header}
    </div>

    <div class="status_content">
        {var $ban = $thisUser->getBanReason("banned")}
        {if is_string($ban)}
            {tr("banned_1", htmlentities($thisUser->getCanonicalName()))|noescape}<br/>
            {tr("banned_2", htmlentities($thisUser->getBanReason()))|noescape}
        {else}
            {tr("banned_1", htmlentities($thisUser->getCanonicalName()))|noescape}
            <div class="status_section">
                Эта страница была заморожена {$ban[0]|noescape}
                {if $ban[1] !== "app"}
                    {include "Report/ViewContent.latte", type => $ban[1], object => $ban[2]}
                {/if}
            </div>
        {/if}

        <div class="status_section">
            {if !$thisUser->getUnbanTime()}
                {_banned_perm}
            {else}
                {tr("banned_until_time", $thisUser->getUnbanTime())|noescape}
            {/if}
        </div>
    </div>
</div>

<div class="page_block status_actions">
    {if $thisUser->canUnbanThemself()}
        <a href="/unban.php" class="button">{_banned_unban_myself}</a>
        <br/>
    {/if}
    <div>
        {tr("banned_3", urlencode($csrfToken))|noescape}
    </div>
</div>
{/block}
