{extends "@layout.latte"}
{var $transparentAppbar = true}

{block title}{$thisUser->getCanonicalName()}{/block}

{define mobileProfile}
    {include './components/mobile_profile_hero.latte', entity => $thisUser, name => $thisUser->getFullName(), status => tr('profile_deactivated_status'), verified => $thisUser->isVerified(), disablePhotoViewer => true}
    <div class="page_block page_padding mobile-page-info mobileonly">
        <div class="profile_deleted_text">
            {tr("profile_deactivated_msg", $thisUser->getDeactivationDate()->format("%e %B %G" . tr("time_at_sp") . "%R"))|noescape}
        </div>
    </div>
{/define}

{block content}
    {include #mobileProfile}
<div class="wide_column_right nomobile">
    <div class="narrow_column_wrap">
        <div class="narrow_column">
            <div class="page_block photo_block">
                <div class="avatar_block">
                    <div class="avatar_block_inner">
                        {include './components/avatar.latte', author => $thisUser, size => 'normal', alt => $thisUser->getCanonicalName(), style => 'width: 100%; image-rendering: -webkit-optimize-contrast;'}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wide_column_wrap">
        <div class="wide_column">
            <div class="page_block page_info_wrap">
                    <div class="accountInfo clearFix">
                        <div class="page_top">
                            <h2 class="page_name">{$thisUser->getFullName()}
                                <a class="page_verified" n:if="$thisUser->isVerified()" href="/verify"></a>
                            </h2>
                            <div class="page_status profile_deleted">{_profile_deactivated_status}</div>
                        </div>
                    </div>
                <div class="profile_deleted_text">
                    {tr("profile_deactivated_msg", $thisUser->getDeactivationDate()->format("%e %B %G" . tr("time_at_sp") . "%R"))|noescape}
                </div>
            </div>
        </div>
    </div>
</div>
{/block}