{extends "@layout.latte"}
{block title}{_ec_header}{/block}

{block content}
<div class="page_block status_container">
    <div class="status_header">
        {_ec_header}
    </div>

    <div class="status_content">
        {tr("ec_1", htmlentities($thisUser->getCanonicalName()))|noescape}
        <div class="status_section">
            {_ec_2}
        </div>
    </div>
</div>

<div class="page_block status_actions">
    <form action="/reg/resend" method="post">
        <input type="submit" class="button" value="{_ec_resend}">
    </form>
</div>
{/block}
